* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  padding: 0;
}

:root {
  --main-background-colour: rgb(114, 114, 234);
  --button-colour: rgb(88, 88, 211);
  --button-font: Georgia, "Times New Roman", Times, serif;
}

main {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: rgb(210, 210, 220);
}
