button {
  background-color: var(--button-colour);
  font-family: var(--button-font);
  text-transform: uppercase;
  color: var(--title-colour);
  font-size: 0.6rem;
  margin-top: 15px;
  padding: 5px;
  border-radius: 15px;
  border: 0;
}

button:hover {
  background-color: rgb(231, 224, 84);
}
