.title {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: aquamarine;
  text-decoration: underline;
  position: fixed;
  padding: 5px;
  top: 0px;
  margin-left: 4px;
}
